<div id="footer">
  <div class="container">
    
    <div class="row footer-first-row">
      
      <div class="col-xs-12 text-center">
	<center>
	  <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Urleaders</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="www.crowlventures.com" property="cc:attributionName" rel="cc:attributionURL">Crowl Ventures</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
	  <br>
	</center>

      </div>
      
    </div>
    
  </div>
</div>
